/* This is here to give everything a red border, just to make it easier to see while developing. */

/* You can turn it off if you want. (delete or comment it out) */

/* Write your rules below */

a {
	background-color:turquoise;
	color:white;
	display:block;
	text-align: center;
	padding: 5px;
	box-shadow: 2px 2px 2px 0 gray;
	border-radius: 10px;
	text-decoration: none;
}
